<h1>Welcome <%= @name %>!</h1>

<p> Welcome to Mdfied. Schedule you next appointment with us for faster medical care.</p>

<p>If you have any questions or concerns please don't hesitate to reach out to us at support@mdfied.com </p>
