<h1>Thank you for signing up <%= @name %>!</h1>

<p> We wanted to welcome you to Finate. An application that was designed to help people like you to take control of their finances and financial goals. 
Finate helps users to track their spending, set monthly budgets, set long-term and short-term goals, and also provide the ability to set bill reminders so you will never forget
to pay a bill again!  </p>

<p>We hope that you enjoy using Finate and if you have any questions or concerns please reach out to us at finate@support.com </p>

<h4>Finate Inc.</h4>
<p>123 Hacker Way</p>
<p>Chicago IL</p>